.left {
	width: 200px;
	left: 0;
	position: absolute;
	animation: fill1 5s ease infinite;
}

.right {
	width: 200px;
	left: 245px;
	position: absolute;
	animation: fill2 5s ease infinite;
}

.main {
	position: relative;
}

.head {
	position: absolute;
	left: 60px;
	width: 300px;
	z-index: 999;
}

.mon {
	position: absolute;
	left: 60px;
	width: 300px;
	z-index: 1000;
	animation: fill3 1s ease infinite;
}

@keyframes fill1 {
  0% {
    top: 0;
  }
  
  50% {
    top: 50px;
  }
  
  100% {
    top: 0;
  }
}

@keyframes fill2 {
  0% {
    top: 50px;
  }
  
  50% {
    top: 0;
  }
  
  100% {
    top: 50px;
  }
}

@keyframes fill3 {
  0% {
    top: 0;
  }
  
  50% {
    top: 10px;
  }
  
  100% {
    top: 0;
  }
}